<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/join" method="post">
      <table>
        <tr>
          <td>ID</td>
          <td><input type="text" name="MEM_ID" /></td>
        </tr>
        <tr>
          <td>회원유형</td>
          <td><input type="text" name="MEM_TYPE" /></td>
        </tr>
        <tr>
          <td>PW</td>
          <td><input type="password" name="PASSWD" /></td>
        </tr>
        <tr>
          <td>회원이름</td>
          <td><input type="text" name="MEM_NAME" /></td>
        </tr>
        <tr>
          <td>회원닉네임</td>
          <td><input type="text" name="MEM_NICK" /></td>
        </tr>
        <tr>
          <td>회원휴대폰</td>
          <td><input type="text" name="MEM_TEL" /></td>
        </tr>
        <tr>
          <td>회원주소</td>
          <td><input type="text" name="MEM_ADDR" /></td>
        </tr>
        <tr>
          <td>사업자번호</td>
          <td><input type="text" name="BIZ_NUM" /></td>
        </tr>
        <tr>
          <td><button type="submit">가입</button></td>
        </tr>
      </table>
    </form>
  </body>
</html>
