<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {%for item in row%}
        <table>
            <tr>
              <td>
                <img src="{{item.IMG_PATH}}" style="height: 300px; width: 300px;" alt="">
              </td>
              <td>
                <table>
                  <tr>
                    <td>{{item.PRD_TYPE}}</td>
                  </tr>
                  <tr>
                    <td>{{item.PRD_NAME}}</td>
                  </tr>
                  <tr>
                    <td>{{item.PRD_LOCA}}</td>
                  </tr>
                  <tr>
                    <td>{{item.PRD_INTRO}}</td>
                  </tr>
                  <tr>
                    <td>{{item.PRD_FLOOR}}</td>
                  </tr>
                  <tr>
                    <td>{{item.MIN_FEE}}</td>
                  </tr>
                  <tr>
                    <td>{{item.REG_DATE}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

        {%endfor%}

    </div> 
</body>
</html>